@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  max-width: 1440px;
}
header {
  height: 50px;
  display: flex;
  position: fixed;
  top:0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background-color: rgba(45, 109, 194, 0.8);
}
header .logo {
  width: 50px;
}
header .menu {
  width: 200px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-family: 'Fira Sans', sans-serif;
}
.app {
  background: url('./img/background.svg') center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.input-wrap {
  transition: .5s ease-in-out;
  text-align: center;
}
.input-hover {
  cursor: pointer;
}
.toTop {
  transform: translateY(-240%);
}
.input {
  height: 50px;
  width: 100%;
  font-size: 1.3em;
  font-weight: bold;
  border: 2px solid rgba(109, 154, 218, 0.6);
  border-radius: 30px;
  padding: 0 20px;
  text-align: center;
  transition: .5s linear;
}
.input-close {
  width: 18%;
  padding: 0 0;
}
.input:focus {
  outline: none;
  border-color: rgba(10,200,10,.6);
}
.weatherInfo {
  font-size: 1.2em;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 798px) {
  header {
    padding: 0 20px;
  }
}