@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background-color: rgba(45, 109, 194, 0.8);
}
header .logo {
  width: 50px;
}
header .menu {
  width: 200px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 798px) {
  header {
    padding: 0 20px;
  }
}